@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", serif;
}
.aff {
  background: #25bddd;
  width: 1.5%;
  position: relative;
  height: 6vh;
  top: -1rem;
  z-index: 0;
}
.ibn img {
  width: 24px;
  cursor: pointer;
}
ul ol {
  cursor: pointer;
}
ul ol:hover {
  color: #25bddd;
}
.ibn img:hover {
  color: #25bddd;
}
ul li,
.btn_mobile button {
  color: white;
  font-size: 15px;
  font-weight: 800;
  line-height: 27px;
  cursor: pointer;
}
@media (min-width: 768px) {
  ul li {
    color: #d4d3d9;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
  }
  ul li:hover {
    color: #34313d;
  }
  .btn button:first-child {
    color: #d4d3d9;
    font-weight: 600;
    cursor: pointer;
    font-size: 13px;
  }
  .aff_2 {
    background: #25bddd;
    width: 8%;
    position: relative;
    height: 1vh;

    top: 8rem;
  }
}
