@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", serif;
}
/* .beff::before {
  content: "";
  background: #25bddd;
  width: 2%;
  position: absolute;
  height: 8vh;
  z-index: 0;
  top: -4rem;
} */
ul li,
.btn_mobile button {
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  cursor: pointer;
}
@media (min-width: 768px) {
  ul li {
    color: #d4d3d9;
    font-weight: 800;
    font-size: 15px;
    cursor: pointer;
  }
  ul li:hover {
    color: #34313d;
  }
  .btn button:first-child {
    color: #d4d3d9;
    font-weight: 800;
    cursor: pointer;
    font-size: 15px;
  }
  /* .beff::before {
    content: "";
    background: #25bddd;
    width: 20%;
    height: 2vh;
    position: absolute;
    left: -50px;
    top: 4rem;
    z-index: 0;
    margin-top: 20px;
  } */
}
